WindowsFormsApplication14/Web References/Myservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18885/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18885/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18885/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddBooksToMar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBooksToMar" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBooksToMar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBooksToMarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBookFromMar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookFromMar" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBookFromMar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookFromMarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBookToLib_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBookToLib" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBookToLib_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookToLibResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IssueBook_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueBook" />
  </wsdl:message>
  <wsdl:message name="IService1_IssueBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBookFromLib_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookFromLib" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBookFromLib_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookFromLibResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuantity" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_forgetpassword_InputMessage">
    <wsdl:part name="parameters" element="tns:forgetpassword" />
  </wsdl:message>
  <wsdl:message name="IService1_forgetpassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:forgetpasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registration_InputMessage">
    <wsdl:part name="parameters" element="tns:registration" />
  </wsdl:message>
  <wsdl:message name="IService1_registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isvaliduser_InputMessage">
    <wsdl:part name="parameters" element="tns:isvaliduser" />
  </wsdl:message>
  <wsdl:message name="IService1_isvaliduser_OutputMessage">
    <wsdl:part name="parameters" element="tns:isvaliduserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isvalidAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isvalidAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isvalidAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isvalidAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_resetpassword_InputMessage">
    <wsdl:part name="parameters" element="tns:resetpassword" />
  </wsdl:message>
  <wsdl:message name="IService1_resetpassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetpasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddBooksToMar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddBooksToMar" message="tns:IService1_AddBooksToMar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddBooksToMarResponse" message="tns:IService1_AddBooksToMar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBookFromMar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBookFromMar" message="tns:IService1_DeleteBookFromMar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBookFromMarResponse" message="tns:IService1_DeleteBookFromMar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBookToLib">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddBookToLib" message="tns:IService1_AddBookToLib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddBookToLibResponse" message="tns:IService1_AddBookToLib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IssueBook" message="tns:IService1_IssueBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IssueBookResponse" message="tns:IService1_IssueBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBookFromLib">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBookFromLib" message="tns:IService1_DeleteBookFromLib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBookFromLibResponse" message="tns:IService1_DeleteBookFromLib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateQuantity" message="tns:IService1_UpdateQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateQuantityResponse" message="tns:IService1_UpdateQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="forgetpassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/forgetpassword" message="tns:IService1_forgetpassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/forgetpasswordResponse" message="tns:IService1_forgetpassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registration" message="tns:IService1_registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registrationResponse" message="tns:IService1_registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isvaliduser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isvaliduser" message="tns:IService1_isvaliduser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isvaliduserResponse" message="tns:IService1_isvaliduser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isvalidAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isvalidAdmin" message="tns:IService1_isvalidAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isvalidAdminResponse" message="tns:IService1_isvalidAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetpassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/resetpassword" message="tns:IService1_resetpassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetpasswordResponse" message="tns:IService1_resetpassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBooksToMar">
      <soap:operation soapAction="http://tempuri.org/IService1/AddBooksToMar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBookFromMar">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBookFromMar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBookToLib">
      <soap:operation soapAction="http://tempuri.org/IService1/AddBookToLib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueBook">
      <soap:operation soapAction="http://tempuri.org/IService1/IssueBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBookFromLib">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBookFromLib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuantity">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="forgetpassword">
      <soap:operation soapAction="http://tempuri.org/IService1/forgetpassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registration">
      <soap:operation soapAction="http://tempuri.org/IService1/registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isvaliduser">
      <soap:operation soapAction="http://tempuri.org/IService1/isvaliduser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isvalidAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isvalidAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetpassword">
      <soap:operation soapAction="http://tempuri.org/IService1/resetpassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:18885/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>